<section class="section-container" fade-in>
    <div id="login-section" class="panel panel-default">
        <div class="panel-heading"><span class="fa fa-sign-in"></span><span>Login</span></div>
        <form id="login-form" class="form-horizontal" (ngSubmit)="login()" [ngFormModel]="loginForm">
            <!--body-->
            <div class="panel-body padding-30">
                <div class="row">
                    <div class="column ol-md-12 text-center">
                        <p id="logo">FOLLOWINGS.IO</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column col-md-12">
                        <div id="logo-subtext">
                            <p>Find artists on <strong>MixCloud</strong> and <strong>HearThis</strong> that you follow on <strong>SoundCloud</strong>.</p>
                        </div>
                    </div>
                </div>
                <!--login form-->
                <div class="form-group">
                    <label class="column col-md-4 control-label" for="login-username">Username</label>
                    <div class="column col-md-8">
                        <input type="text" class="form-control" id="login-username" ngControl="username">
                    </div>
                </div>
                <div class="form-group">
                    <label class="column col-md-4 control-label" for="login-password">Password</label>
                    <div class="column col-md-8">
                        <input type="password" class="form-control" id="login-password" ngControl="password">
                    </div>
                </div>
                <div *ngIf="loginFailed" class="row text-center">
                    <div class="alert alert-danger">Login unsuccessful.</div>
                </div>
            </div>
            <!--footer-->
            <div class="panel-footer">
                <div class="form-group">
                    <div class="column col-md-12 text-right">
                        <button type="button" class="btn btn-default margin-right-5" (click)="register()">Register</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>