<section class="section-container" fade-in>
    <div id="account-section" class="panel panel-default">
        <div class="panel-heading">
            <span class="fa fa-users" aria-hidden="true"></span>
            <span>My Followings</span>
            <button id="logout-button" class="btn btn-default" (click)="logOut()">LOG OUT</button>
        </div>
        <div class="panel-body no-padding">
            <div *ngIf="soundcloudUser" class="row header-panel shadow-drop">
                <div class="column col-md-6">
                    <div class="pull-left">
                        <img class="sc-avatar shadow-medium" src="{{soundcloudUser.avatar_url}}"/>
                    </div>
                    <div id="sc-user-information">
                        <span class="sc-username">{{soundcloudUser.username}}</span>
                        <p><a href="{{soundcloudUser.permalink_url}}" target="_blank">{{soundcloudUser.permalink_url}}</a></p>
                        <p>{{soundcloudUser.followings_count}} followings</p>
                    </div>
                </div>
                <div class="column col-md-6">
                    <button *ngIf="soundcloudFollowings" class="btn btn-primary shadow-small" (click)="getSoundCloudFollowings()" [tooltip]="{tip: '<span style=color:red;>Warning</span><br>This will erase search matches.', location: 'bottom', offset: true}">
                        <span class="fa fa-refresh margin-right-5" aria-hiden="true"></span>
                        <span>Reload Followings</span>
                    </button>
                </div>
            </div>
            <div *ngIf="showLoadingNotification" class="row text-center">
                <div id="loading-notification">
                    <img src="images/loading3.gif">
                    <h3>Loading your SoundCloud followings...</h3>
                </div>
            </div>
            <!--followings view 1-->
            <div *ngIf="false" class="row sc-following-info-header">
                <div class="column col-md-12 sc-following-row">
                    <div class="column col-md-6">
                        <span>SOUNDCLOUD USER</span>
                    </div>
                    <div class="column col-md-3 text-center">
                        <span>MIXCLOUD</span>
                    </div>
                    <div class="column col-md-3 text-center">
                        <span>HEARTHIS</span>
                    </div>
                </div>
            </div>
            <div *ngIf="false" class="row sc-followings">
                <div *ngFor="#following of soundcloudFollowings; #index = index; #odd = odd; #even = even;" [class.odd]="odd" class="column col-md-12 sc-following-row">
                    <div class="column col-md-6">
                        <span class="data-cell"><img src="{{following.avatar_url}}" class="sc-following-avatar shadow-small"></span>
                        <span class="data-cell"><span class="sc-following-username">{{following.username}}</span></span>
                        <span class="data-cell"><a href="{{following.permalink_url}}" class="sc-following-url" target="_blank">{{following.permalink_url}}</a></span>
                    </div>
                    <div class="column col-md-3 text-center">
                        <span *ngIf="following.mixcloud_permalink" class="fa fa-check" aria-hidden="true"></span>
                        <span *ngIf="following.mixcloud_permalink === ''" class="fa fa-close" aria-hidden="true"></span>
                        <span *ngIf="!following.mixcloud_permalink" class="fa fa-question" aria-hidden="true"></span>
                    </div>
                    <div class="column col-md-3 text-center">
                        <span *ngIf="following.hearthis_permalink" class="fa fa-check" aria-hidden="true"></span>
                        <span *ngIf="following.hearthis_permalink ===''" class="fa fa-close" aria-hidden="true"></span>
                        <span *ngIf="!following.hearthis_permalink" class="fa fa-question" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <!--followings view 2-->
            <div *ngIf="soundcloudFollowings">
                <div *ngFor="#following of soundcloudFollowings" class="col-md-1 column pull-left following-cell" [tooltip]="{tip: following.username, location: 'bottom', offset: true}">
                    <a href="{{following.permalink_url}}" target="_blank">
                        <div>
                            <img src="{{following.avatar_url}}">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>