<nav>
    <span class="fa fa-cloud-download text-center"></span>
    <a href="#" (click)="navigate($event, 'Followings')" [tooltip]="{tip: 'My Followings', location: 'right', offset: false}"><span class="fa fa-users text-center"></span></a>
    <a href="#" (click)="navigate($event, 'Search')" [tooltip]="{tip: 'Search', location: 'right', offset: false}"><span class="fa fa-search text-center"></span></a>
</nav>
<div [hidden]="hideLoginError" class="login-error shadow">
    <span class="fa fa-exclamation-circle"></span><span>Please log in.</span>
</div>